@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');


* {
    margin: 0;
    padding: 0;
}
body {
    background-color: wheat;
    text-align: center;
    align-items: center;
    font-family: 'Krona One', sans-serif;

}
.big_div {
    color: brown;
}


/* Lord Vader Former Handle Anakin :link, :visited, :focus, :hover, :active

Pseudo-classes: specify styling in these states.

:link — unvisited link
:visited — visited state
:focus — the currently "focused" (selected) element
:hover — hover your mouse over this
:active — the time between the link is selected and the time the page loads.
*/

a:link {
    font-weight: lighter;
    text-decoration: underline;
    color: orange;
    font-size: 1rem;
}

a:visited {
    color: green;
    font-size: 1rem;
}

a:hover {
    color: pink;
    text-decoration: underline;
    background-color: grey;
}



/* Order of priorirty in css property
1. Inside body of html file >>>> 2. Inside html files with <style></style> >>> 3. External css files with .css and through link */